.containerModal {
    display: 'block';
    width: 1000 !important;
    padding: 30;
}

.modal-content {
    width: 850px;
}

.modal-dialog {
    max-width: 850px;
}

.date-content {
    width: 150px !important;
    flex: none !important
}